/*! PARTIE HEADER */
.pages{
    width: 100%;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1e31;
    text-shadow: 0 0 10px #1d1e31;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.pages a:hover{
    animation: surligner 0.5s forwards;
}

@keyframes surligner{
    0%{
        text-decoration: none;
    }

    100%{
        text-decoration: underline;
    }
}

/*! PARTIE LIENBAR */
nav{
    background-color: #fec675;
    width: 100%;
    height: 100px;
}

.liens{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens a{
    margin: 0 20px 0 20px;
    font-size: 1.4em;
    color: #1d1e31;
    text-shadow: 0 0 10px white;
    text-decoration: none;
}
/*! SCROLL BAR */
/*! DEBUT SCROLLBAR */
.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}

.scroll-bar{
    width: 100%;
    height: 8px;
    background-color: #ccc;
}

.progressbar{
    height: 8px;
    background-color: #fec675;
    width: 0;
}
/*! FIN SCROLLBAR */
/*! FIN PARTIE HEADER ET LIENBAR */

/*! CORPS DE PAGE */
body{
    width: 1450px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #1d1e31;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    background-color: white;
}

.centre, .left, .right{
    width: 500px;
    height: 500px;
    margin: 30px;
}

@keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/*! SECTION NUAGES */
.titre1 h1{
    width: 600px;
    height: auto;
    font-size: 6em;
    color: white;
    text-shadow: 0 0 5px white;
    margin-left: 100px;
    text-align: center;
    animation: slide 0.7s forwards;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 30px;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 30px;
}

.titre2 h2{
    width: 100%;
    height: auto;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    text-align: center;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texte10{
    color: white;
    font-size: 1.4em;
    margin: 40px;
    text-align: justify;
}

/*! SECTION MECANISME */
.titre3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texte2{
    margin: 40px;
    text-align: justify;
    color: white;
    font-size: 1.4em;
}

/*! SECTION FORMATION */
.titre4 h2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texte3{
    margin: 40px;
    color: white;
    text-align: justify;
    font-size: 1.4em;
}

.flex2{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 40px;
}

.left1{
    margin: 40px;
    width: 500px;
    height: 500px;
}

.flex3{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 40px;
}

.titre5 h2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texte4{
    margin: 40px;
    color: white;
    font-size: 1.4em;
    text-align: justify;
}

.flex4{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
    margin: 40px;
}

.left2{
    width: 500px;
    height: 500px;
    margin: 40px;
}

.titre6 h2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.texte5{
    margin: 40px;
    color: white;
    font-size: 1.4em;
    text-align: justify;
}

/*! SECTION TYPES */
.titre7{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex5{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte6{
    color: white;
    font-size: 1.4em;
    margin: 40px;
    text-align: justify;
}

.texte7{
    font-size: 1.4em;
    color: white;
    margin: 40px;
}

/*! SECTION NUAGES */
.titre h2{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    font-size: 2em;
    box-shadow: 0 0 5px #fec675;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cir, .alt, .strat, .cumulo{
    border: 5px solid black;
    margin: 40px;
    box-shadow: 0 0 10px black;
    border-radius: 10px;
}

.texte{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.4em;
    margin: 40px;
    text-align: justify;
}

.texte p{
    margin: 40px;
}

.texte img{
    width: 500px;
    height: 500px;
    margin: 40px;
}
/*! FIN DE CORPS DE PAGE */

/*! PARTIE CONNEXION EN HAUT DE PAGE */
/* .connexion a{
    font-weight: 700;
    position: absolute;
    left: 100px;
    font-size: 15px;
    text-decoration: underline;
} */
/*! FIN PARTIE CONNEXION */