/* PARTIE HEADER ET LIENBAR */
header{
    width: 100%;
    height: 100px;
    background-color: #31489f;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.container1{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.pages{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 10%;
}

.pages button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.pages button:hover{
    top: 5px;
    background-color: transparent;
    box-shadow: none;
}

.pages button a{
    font-size: 20px;
    color: white;
}

.liens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #31489f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.suppression-responsive{
    position: absolute;
    left: -100px;
}

.liens button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.liens button:hover{
    top: 5px;
    background-color: white;
    box-shadow: none;
}

.liens button a{
    text-decoration: none;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn1, .icone{
    display: none;
}

.boutton{
    background-color: white;
}
/* FIN CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
.connexion{

}
/* FIN PARTIE CONNEXION */

/* PARTIE API METEO */
.card{
    width: 90%;
    max-width: 470px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 0 auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col  img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
/* FIN PARTIE API METEO */