/* PARTIE HEADER ET LIENBAR */
header{
    width: 100%;
    height: 100px;
    background-color: #31489f;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.container1{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.pages{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 10%;
}

.pages button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.pages button:hover{
    top: 5px;
    background-color: transparent;
    box-shadow: none;
}

.pages button a{
    font-size: 20px;
    color: white;
}

.liens{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #31489f;
    position: absolute;
    bottom: 0;
    left: 0;
}

.suppression-responsive{
    position: absolute;
    left: -100px;
}

.liens button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.liens button:hover{
    top: 5px;
    background-color: white;
    box-shadow: none;
}

.liens button a{
    text-decoration: none;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
body{
    margin: 0;
    padding: 0;
}

.btn1, .icone{
    display: none;
}

.boutton{
    background-color: white;
}

section h1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31489f;
    margin-bottom: 100px;
}
/* FIN CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
.connexion{

}
/* FIN PARTIE CONNEXION */

/* PARTIE API METEO */
.container{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.meteo{
    margin-top: 50px;
}

form{
    margin-top: 20px;
    display: inline-block;
}

label{
    margin-right: 30px;
}

input[type="text"]{
    padding: 5px;
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 5px;
    margin: 10px;
}

button{
    padding: 5px 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: white;
    cursor: pointer;
}

#weather{
    margin-top: 50px;
}

.weather-card h2{
    margin-top: 0;
}

.weather-card img{
    width: 100px;
    height: 100px;
}

.weather-card p{
    margin: 5px 0;
}
/* FIN PARTIE API METEO */