body{
    max-width: 1300px;
    margin-left: 300px;
    background-color: grey;
    border: 2px solid black;
    font-family: sans-serif;
}

.responsive-btn123{
    display: flex;
    justify-content: center;
    width: auto;
}

.left{
    float: left;
    margin: 10px;
}

.right{
    float: right;
    margin: 10px;
}

.stopfloat{
    clear: both;
}

p, li{
    font-size: 20px;
}

h2, h1{
    text-align: center;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: black;
}

a.btn1{
    right: 20px;
    bottom: 20px;
    position: fixed;
}

img.icone{
    width: 50px;
    height: 50px;
    margin: 0;
}

.retourenhaut{
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

img{
    width: 500px;
    height: 500px;
}

img, p, li{
    margin-left: 10px;
}

.carre1, .carre2, .carre3{
    width: 450px;
    height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 5px 5px 5px black;
}

h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toutcarre{
    display: flex;
    justify-content: center;
}

.pluspetit{
    font-size: 15px;
    margin: 10px;
}

/* PARTIE RESPONSIVE A 500PX */
@media only screen and (max-width: 500px){
    
}

/* FIN PARTIE RESPONSIVE */