body{
    max-width: 1500px;
    margin: auto;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    border: 2px solid black;
}

.btn{
    margin: 20px 0;
    font-size: 30px;
    font-weight: lighter;
    color: #333;
    padding: 25px 80px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 6px #efa424;
    

}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.btn:hover{
    box-shadow: 0 4px #efa424;
    top: 2px;
}

.btn:active{
    box-shadow: 0 0px #efa424;
    top: 6px;
}

p, li{
    font-size: 20px;
}

h2, h1{
    text-align: center;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: black;
}

a.btn1{
    right: 20px;
    bottom: 20px;
    position: fixed;
    
}

img.icone{
    width: 50px;
    height: 50px;
    margin: 0;
}

.retourenhaut{
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

img{
    width: 500px;
    height: 500px;
}

img, p, li{
    margin-left: 10px;
}

/* PARTIE RESPONSIVE A 500PX */
@media only screen and (max-width: 500px){
    body{
        border: none;
    }
    
    .centre-responsive{
        display: flex;
        justify-content: center;
    }

    img{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .retourenhaut{
        display: none;
    }

    .btn{
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 0%;
    }

    .container{
        border: 2px solid black;
    }
}

/* FIN PARTIE RESPONSIVE */