body{
    background: linear-gradient(70deg, rgba(75,191,194,1) 0%, rgba(214,213,93,1) 50%, rgba(75,191,194,1) 100%);
    max-width: 1300px;
    margin-left: 300px;
    border: 2px solid black;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

h2{
    font-size: 35px;
    text-align: center;
}

h2.dessous{
    clear: both;
}

div.container2{
    clear: both;
}

img.centre{
    display: block;
    margin: 0 auto;
}

img.left{
    float: left;
}

img.right{
    float: right;
}

img{
    margin-right: 10px;
    margin-bottom: 100px;
}

p{
    font-size: 20px;
    margin: 10px;
}

mark.bleu{
    background-color: rgb(45, 45, 255);
}

mark.rouge{
    background-color: rgb(255, 0, 0);
}

mark.violet{
    background-color: rgb(140, 0, 140);
}

a.btn1{
    right: 0px;
    bottom: 0px;
    position: fixed;
    background-color: red;
    border-radius: 50%;
}

img.icone{
    width: 50px;
    height: 50px;
    margin: 0;
}

@media only screen and (max-width: 500px){
    body{
        border: none;
    }
    
    .centre-responsive{
        display: flex;
        justify-content: center;
    }

    img{
        width: 300px;
        height: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }

    .btn{
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 0%;
    }

    .container{
        border: 2px solid black;
    }

    .btn1{
        display: none;
    }
}

