body{
    background: linear-gradient(70deg, rgba(75,191,194,1) 0%, rgba(214,213,93,1) 50%, rgba(75,191,194,1) 100%);
    max-width: 1300px;
    margin-left: 300px;
    border: 2px solid black;
}

.btn{
    margin: 10px;
    font-size: 20px;
    font-weight: lighter;
    color: #333;
    padding: 10px 20px;
    background: linear-gradient(70deg, rgba(75,191,194,1) 0%, rgba(214,213,93,1) 50%, rgba(75,191,194,1) 100%);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    box-shadow: 5px 5px 5px black;
    width: 250px;
}

.btn:hover{
    box-shadow: 5px 5px 5px black;
    top: 2px;
}

.btn:active{
    box-shadow: 0 0px black;
    top: 6px;
}

nav{
    position: fixed;
    top: 10px;
    left: 10px;
    padding: auto;
    width: auto;
    margin: 10px;
}

.container{
    display: flex;
    flex-direction: column;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-size: 40px;
}

h1{
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-around;
}

p, h3{
    margin: 10px;
}

a{
    text-decoration: none;
    color: black;
}

p, li{
    font-size: 20px;
}

img{
    margin-bottom: 40px;
    width: 500px;
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

img.moinsbas{
    margin-bottom: 10px;
}

img.centre{
    display: block;
    margin: 0 auto;
}

mark.vert{
    background-color: green;
}

h3{
    margin: 20 0 10 0;
    font-size: 30px;
}

img.left{
    float: left;
}

img.right{
    float: right;
}

p.grostitre{
    font-size: 50px;
}
mark.violet{
    background-color: blueviolet;
}

div.stopfloat{
    clear: both;
}

p.centre{
    text-align: center;
    margin-top: 250px;
}
p.centre1{
    text-align: center;
    margin-top: 150px;
}

mark.vert1{
    background-color: rgb(1, 255, 1);
}

b.rouge{
    color: red;
}

b.bleu{
    color: blue;
}

b.violet{
    color: rgb(115, 0, 223);
}

a.btn1{
    right: 0px;
    bottom: 0px;
    position: fixed;
}

img.icone{
    width: 50px;
    height: 50px;
    margin: 0;
    border-radius: 50%;
    background-color: red;
}

@media only screen and (max-width: 500px){
    body{
        border: none;
    }
    
    img{
        width: 300px;
        height: 300px;
    }

    .violet{
        display: none;
    }

    .centre-responsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    p.centre{
        margin-top: 10px;
    }

    .container{
        border: 2px solid black;
    }

    .btn{
        padding: 10px 10px;
        font-size: 15px;
        border-radius: 0%;
    }

    .btn1{
        display: none;
    }
}