.container1{
    /* width: 100px;
    height: 100px; */
    background-color: aqua;
    display: flex;
    flex-direction: column;
    margin: auto;
    position: absolute;
    top: 10px;
    right: 10px;
}

button{
    padding: 10px 20px;
    width: 200px;
}

a{
    text-decoration: none;
    text-align: center;
    color: black;
}