body{
    max-width: auto;
    margin-left: 300px;
    margin-right: 300px;
    background-color: grey;
    border: 2px solid black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.responsive-btn123{
    display: flex;
    justify-content: center;
    width: auto;
}

.left{
    float: left;
    margin: 10px;
}

.right{
    float: right;
    margin: 10px;
}

.stopfloat{
    clear: both;
}

p, li{
    font-size: 20px;
}

h2, h1{
    text-align: center;
    font-size: 35px;
}

a{
    text-decoration: none;
    color: black;
}

a.btn1{
    right: 20px;
    bottom: 20px;
    position: fixed;
}

img.icone{
    width: 50px;
    height: 50px;
    margin: 0;
}

.retourenhaut{
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

img{
    width: 500px;
    height: 500px;
}

img, p, li{
    margin-left: 10px;
}

.carre1, .carre2, .carre3{
    width: auto;
    height: auto;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 1%;
    box-shadow: 5px 5px 5px black;
}

.rectangle1, .rectangle2{
    width: auto;
    height: auto;
    border: 1px solid black;
    box-shadow: 5px 5px 5px black;
    border-radius: 1%;
    margin-top: 0px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

h3{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.toutcarre{
    display: flex;
    justify-content: center;
}

.pluspetit{
    font-size: 15px;
    margin: 10px;
}

/* PARTIE RESPONSIVE*/
@media only screen and (max-width: 1800px){
    .toutcarre{
        display: block;
    }

    .carre1, .carre2, .carre3, .rectangle1, .rectangle2{
        height: auto;
        width: auto;
        margin: 10px;
    }
}

@media only screen and (max-width: 1450px){
    body{
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
    }

    .toutcarre{
        display: block;
    }

    .carre1, .carre2, .carre3, .rectangle1, .rectangle2{
        height: auto;
        width: auto;
        margin: 10px;
    }

    img{
        width: 450px;
        height: 450px;
    }

    .btn, button{
        font-size: 18px;
        padding: 5px 10px;
        width: 100px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1300px){
    body{
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .toutcarre{
        display: block;
        width: auto;
        height: auto;
    }

    .carre1, .carre2, .carre3, .rectangle1, .rectangle2{
        height: auto;
        width: auto;
        margin: 10px;
    }

    img{
        width: 300px;
        height: 300px;
    }

    .btn, button{
        font-size: 16px;
        padding: 5px 10px;
        width: 100px;
        margin: 10px;
    }

    .btn1{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    body{
        width: auto;
        height: auto;
        border: none;
        text-align: center;
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }

    p, li{
        margin: 10px;
        font-size: 16px;
    }
    
    .btn1{
        display: none;
    }

    .centre-responsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 300px;
        height: 300px;
    }

    .pages, .liens{
        position: initial;
    }

    .container, .container1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        width: auto;
        height: auto;
    }

    .btn, button{
        margin: 0px;
        width: auto;
        height: 50px;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 600;
        background-color: grey;
    }

    .toutcarre{
        display: block;
        width: 324px;
        height: auto;
        margin: 10px;
    }

    .carre1, .carre2, .carre3{
        font-size: 16px;
        width: 324px;
    }

    .rectangle1, .rectangle2{
        width: auto;
        height: auto;
        margin: 10px auto;
    }
}
/* FIN PARTIE RESPONSIVE */