@media only screen and (max-width: 1800px){
    .toutcarre{
        display: block;
    }

    .carre1, .carre2, .carre3, .rectangle1, .rectangle2{
        height: auto;
        width: auto;
        margin: 10px;
    }
}

@media only screen and (max-width: 1450px){
    body{
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
    }

    .toutcarre{
        display: block;
    }

    .carre1, .carre2, .carre3, .rectangle1, .rectangle2{
        height: auto;
        width: auto;
        margin: 10px;
    }

    img{
        width: 450px;
        height: 450px;
    }

    .btn, button{
        font-size: 18px;
        padding: 5px 10px;
        width: 100px;
        margin: 10px;
    }
}

@media only screen and (max-width: 1300px){
    body{
        width: auto;
        margin-left: 150px;
        margin-right: 150px;
    }
    
    .toutcarre{
        display: block;
        width: auto;
        height: auto;
    }

    .carre1, .carre2, .carre3, .rectangle1, .rectangle2{
        height: auto;
        width: auto;
        margin: 10px;
    }

    img{
        width: 300px;
        height: 300px;
    }

    .btn, button{
        font-size: 16px;
        padding: 5px 10px;
        width: 100px;
        margin: 10px;
    }

    .btn1{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    body{
        width: auto;
        height: auto;
        border: none;
        text-align: center;
        margin: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 16px;
        font-weight: 600;
    }

    p, li{
        margin: 10px;
        font-size: 16px;
    }
    
    .btn1, .suppression-responsive{
        display: none;
    }

    .centre-responsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img{
        width: 300px;
        height: 300px;
    }

    .pages, .liens{
        position: initial;
    }

    .container, .container1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 2px solid black;
        width: auto;
        height: auto;
    }

    .btn, button{
        margin: 0px;
        width: auto;
        height: 50px;
        padding: 5px 10px;
        font-size: 16px;
        font-weight: 600;
        background-color: grey;
    }

    .toutcarre{
        display: block;
        width: 324px;
        height: auto;
        margin: 10px;
    }

    .carre1, .carre2, .carre3{
        font-size: 16px;
        width: 324px;
    }

    .rectangle1, .rectangle2{
        width: auto;
        height: auto;
        margin: 10px auto;
    }
}