/*! PARTIE HEADER */
.pages{
    width: 100%;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1e31;
    text-shadow: 0 0 10px #1d1e31;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.pages a:hover{
    animation: surligner 0s forwards;
}

@keyframes surligner{
    0%{
        text-decoration: none;
    }

    100%{
        text-decoration: underline;
    }
}

/*! PARTIE FOOTER */
nav{
    background-color: #fec675;
    width: 100%;
    height: 100px;
}

.liens{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens a{
    margin: 0 20px 0 20px;
    font-size: 1.4em;
    text-shadow: 0 0 5px #1d1e31;
    color: #1d1e31;
    text-decoration: none;
}
/*! SCROLL BAR */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/*! FIN PARTIE HEADER ET LIENBAR */

/*! CORPS DE PAGE */
body{
    width: 1500px;
    margin: 0 auto;
    padding: 0;
    background-color: #1d1e31;
}

.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}

/*! LE GROS TITRE */
h1{
    width: 1000px;
    font-size: 6em;
    color: white;
    text-shadow: 0 0 5px white;
    margin: 100px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 30px;
    text-align: center;
    animation: slide 0.7s forwards;
}

@keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

/*! SECTION HAUTE PRESSION */
.haute-pression .texte p, li{
    color: white;
    margin: 40px;
    font-size: 1.4em;
    text-align: justify;
}

.haute-pression .titre h2{
    height: auto;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    padding: 10px;
}

.haute-pression .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.haute-pression .flex img{
    width: 500px;
    height: 500px;
    margin: 40px;
}

/*! SECTION BASSE PRESSION */
.basse-pression .titre h2{
    height: auto;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    padding: 10px;
}

.basse-pression .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.basse-pression .flex p{
    color: white;
    margin: 40px;
    font-size: 1.4em;
    text-align: justify;
}

.basse-pression .flex img{
    width: 500px;
    height: 500px;
    margin: 40px;
}

/*! SECTION PRESSION ATMOSPHERIQUE */
.pression .titre h2{
    height: auto;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    padding: 10px;
}

.pression .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.pression .flex p{
    color: white;
    font-size: 1.4em;
    margin: 40px;
    text-align: justify;
}

.pression .flex img{
    width: 500px;
    height: 500px;
    margin: 40px;
}

.anticyclone h2{
    height: auto;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    padding: 10px;
}

/*!SECTION ANTICYCLONE*/
.toutcarre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.anticyclone .texte p{
    font-size: 1.4em;
    margin: 40px 40px 20px 40px;
    color: white;
    text-align: justify;
}

.carre1 h3, .carre2 h3, .carre3 h3{
    font-size: 1.7em;
    text-align: center;
    background-color: #fec675;
    color: white;
}

.carre1 p, .carre2 p, .carre3 p{
    font-size: 1.4em;
    margin: 10px;
    color: white;
    text-align: justify;
}

.carre1, .carre2, .carre3{
    width: auto;
    height: 1000px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    margin: 20px;
}

/*!SECTION DEPRESSION*/
.depression h2{
    height: auto;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3em;
    padding: 10px;
}

.depression .texte p{
    color: white;
    font-size: 1.4em;
    margin: 40px 40px 20px 40px;
    text-align: justify;
}

.toutcarre1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.rectangle1, .rectangle2{
    width: 750px;
    height: 500px;
    border: 1px solid black;
    box-shadow: 0 0 10px black;
    margin: 20px;
}

.rectangle1 h3, .rectangle2 h3{
    font-size: 1.7em;
    text-align: center;
    background-color: #fec675;
    color: white;
}

.rectangle1 p, .rectangle2 p{
    font-size: 1.4em;
    margin: 10px;
    color: white;
    text-align: justify;
}

/*! PARTIE RESPONSIVE */
@media only screen and (max-width: 1520px){
    body{
        width: auto;
    }
}

@media only screen and (max-width: 1400px){
    header .pages a{
        font-size: 1.2em;
        margin: 0 30px;
    }

    .haute-pression .texte h1{
        font-size: 5em;
    }

    .haute-pression .flex img, .basse-pression .flex img, .pression .flex img{
        width: 450px;
        height: 450px;
    }
}

@media only screen and (max-width: 1190px){
    .haute-pression .texte h1{
        font-size: 4em;
        border: none;
    }

    .haute-pression .titre h2, .basse-pression .titre h2, .pression .titre h2, .anticyclone h2, .depression h2{
        font-size: 2em;
    }

    .haute-pression .texte p, li, .basse-pression .texte p, .pression .texte p, .anticyclone .texte p, .depression .texte p, .carre2 p, .carre1 p, .carre3 p, .rectangle1 p, .rectangle2 p{
        font-size: 1.2em;
    }

    .haute-pression .flex img, .basse-pression .flex img, .pression .flex img{
        width: 350px;
        height: 350px;
    }

    .toutcarre{
        display: block;
    }

    .carre1, .carre2, .carre3{
        width: auto;
        height: auto;
    }
}

@media only screen and (max-width: 1060px){
    .haute-pression .texte h1{
        font-size: 3em;
        width: auto;
    }

    header .pages a{
        font-size: 1em;
    }
}

@media only screen and (max-width: 940px){
    
    .toutcarre1{
        display: block;
    }

    .rectangle1, .rectangle2{
        width: auto;
        height: auto;
    }

    header .pages a{
        font-size: 0.8em;
        margin: 10px;
    }

    .liens{
        display: none;
    }

    .haute-pression .flex img, .basse-pression .flex img, .pression .flex img{
        width: 250px;
        height: 250px;
    }
}

@media only screen and (max-width: 615px){
    .haute-pression .texte h1{
        font-size: 2em;
        animation: none;
    }
}

@media only screen and (max-width: 500px){
    body{
        width: 430px;
        height: auto;
    }

    
}
/*! FIN PARTIE RESPONSIVE */