/* PARTIE HEADER */
.pages{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1e31;
    text-shadow: 0 0 10px #1d1e31;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.pages a:hover{
    animation: surligner 0.5s forwards;
}

@keyframes surligner{
    0%{
        text-decoration: none;
    }

    100%{
        text-decoration: underline;
    }
}

/* PARTIE LIENBAR */
nav{
    background-color: white;
    width: 100%;
    height: 100px;
}

.liens{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens a{
    margin: 0 20px 0 20px;
    font-size: 1.4em;
    text-shadow: 0 0 5px #1d1e31;
    color: #1d1e31;
    text-decoration: none;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1d1e31;
}

.btn1, .icone{
    display: none;
}

.boutton{
    background-color: white;
}
/* FIN CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */

/* FIN PARTIE CONNEXION */

/* PARTIE API METEO */
.card{
    width: 90%;
    max-width: 470px;
    background-color: #fec675;
    color: #fff;
    margin: 20px auto 20px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col  img{
    width: 40px;
    margin-right: 10px;
}

.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}

.weather{
    display: none;
}

.error{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
/* FIN PARTIE API METEO */