/* LE TOUT GENERAL */
body{
    margin: 0;
    padding: 0;
    background-color: grey;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    width: 1000px;
    height: auto;
    background-color: red;
    margin: 0 auto;
    position: relative;
}

/* PARTIE GAUCHE DU CV */
.container1{
    position: absolute;
    width: 40%;
    height: 2000px;
    background-color: #fec675;
}

.container1 img{
    position: relative;
    top: 50px;
    width: 450px;
    height: 600px;
    z-index: 1;
}

.container1 ul li{
    font-weight: 500;
}

.informations{
    position: relative;
    top: 100px;
    margin-left: 50px;
}

.informations h2{
    font-size: 1.8em;
    margin-bottom: 10px;
}

.informations li{
    margin: 5px 0;
}

/* PARTIE DROITE DU CV */
.container2{
    position: absolute;
    left: 400px;
    width: 60%;
    height: 2000px;
    background-color: #1d1e31;
}

.container2 h1{
    font-size: 3.5em;
    width: 400px;
    color: yellow;
    margin-left: 100px; 
    margin-top: 100px;
    letter-spacing: 2px;
}

.container2 h2{
    color: white;
    font-size: 2em;
    width: 400px;
    margin-left: 100px;
}

.separateur{
    width: 400px;
    height: 10px;
    border-top: 5px solid white;
    margin: 20px auto;
}

.container2 h3{
    color: yellow;
    font-size: 2em;
    width: 400px;
    margin-left: 100px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.container2 p, .container2 ul li{
    color: white;
    font-size: 1.0em;
    width: 400px;
    margin-left: 100px;
    margin-top: 0;
    text-align: justify;
}

.container2 p mark{
    background-color: #fec675;
}

.titre{
    font-size: 1.6em;
    font-weight: 800;
    margin: 15px;
}

.separateur1{
    width: 400px;
    height: 10px;
    border-top: 3px solid yellow;
    margin: 0 auto;
}

.cinquantep{
    margin-top: 100px;
}