/* PARTIE HEADER */
.pages{
    width: 100%;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1e31;
    text-shadow: 0 0 10px #1d1e31;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.pages a:hover{
    animation: surligner 0s forwards;
}

@keyframes surligner{
    0%{
        text-decoration: none;
    }

    100%{
        text-decoration: underline;
    }
}

/* PARTIE LIENBAR */
nav{
    background-color: #fec675;
    width: 100%;
    height: 100px;
}

.liens{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens a{
    margin: 0 20px 0 20px;
    font-size: 1.4em;
    text-shadow: 0 0 10px white;
    text-decoration: none;
    color: #1d1e31;
}
/* SCROLL BAR */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
/* MISE EN PLACE */
body{
    width: 1500px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    background-color: #1d1e31;
}

.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}

body, section, p, li, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p, li{
    font-size: 1.4em;
    margin: 40px;
    text-align: justify;
    color: white;
}

h2, h3, h4{
    background-color: #fec675;
    height: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px #fec675;
    color: white;
    font-size: 2em;
}

.btn1, .icone{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: red;
}

img{
    width: 500px;
    height: 500px;
    margin: 40px;
}
/* FIN DE LA MISE EN PLACE */

/* DEBUT DES SECTIONS */
.presentation h1{
    width: 600px;
    height: auto;
    font-size: 6em;
    color: white;
    text-shadow: 0 0 5px white;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: slide 0.7s forwards;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 30px;
}

@keyframes slide{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

.presentation img{
    margin: 10px 40px 10px 40px;
}

.presentation .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentation .texte h2{
    background-color: #fec675;
    height: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px #fec675;
    color: white;
    font-size: 2em;
}

.stable .flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.stable h2{
    background-color: #fec675;
    height: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px #fec675;
    color: white;
    font-size: 2em;
}
.stable p{
    margin: 40px;
}

.instable{
    width: 100%;
    height: auto;
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texte mark{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .centre{
        width: 100%;
        height: 100px;
        font-size: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texte p{
        margin: 40px;
    }

    .titre{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    
    .centreimage{
        width: 100%;
        height: 500px;
        margin: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texte1{
        text-align: center;
        font-size: 1.4em;
    }
    .titre{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.instable h2{
    background-color: #fec675;
    height: auto;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px #fec675;
    color: white;
    font-size: 2em;
}

.mecanisme{
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texte p{
        margin: 40px;
    }
}

.developpement{
    .titre h1 mark{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 10px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-items: center;
        margin: 10px;
    }

    .p1, .p2, .p3, .p4{
        width: 250px;
        height: 250px;
    }
}

.foudre, .grele, .rafale{
    .galerie{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .galerie img{
        border: 1px solid black;
        box-shadow: 5px 5px 5px black;
    }
    .texte p, .texte li{
        margin: 40px;
    }
}

.types{
    .titre16em{
        font-size: 1.6em;
    }
    .classe1 p, .classe2 p, .classe3 p, .classe4 p, .classe5 p, .classe6 p, .classe7 p, .classe8 p{
        margin: 40px;
    }
    .classe1, .classe2, .classe3, .classe4, .classe5, .classe6, .classe7, .classe8{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.photos{
    .titre16em h2 mark{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        padding: 10px;
    }
    .galerie1{
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

.titre16em h2 mark{
    font-size: 2em;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}

article {
    .premiereligne img, .deuxiemeligne img {
        width: 200px;
        height: 300px;
        margin: 40px;
    }

    .premiereligne, .deuxiemeligne {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.rotate{
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
}

.rotate:hover{
    animation: rotate 0.8s forwards;
}

@keyframes rotate{
    100%{
        rotate: 360deg;
        width: 300px;
        height: 400px;
    }
}

/* DEBUT DE LA RESPONSIVE */


/* FIN DE LA PARTIE RESPONSIVE */
/* FIN DES SECTIONS */
/* FIN DE CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
/* .connexion a{
    font-weight: 800;
    font-size: 15px;
    text-decoration: underline;
    position: relative;
    left: 100px;
    color: black;
} */
/* FIN PARTIE CONNEXION */