/* PARTIE HEADER */
.pages{
    width: 100%;
    background-color: #fec675;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1e31;
    text-shadow: 0 0 10px #1d1e31;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.pages a:hover{
    animation: surligner 0s forwards;
}

@keyframes surligner{
    0%{
        text-decoration: none;
    }

    100%{
        text-decoration: underline;
    }
}

/* PARTIE LIENBAR */
nav{
    background-color: #fec675;
    width: 100%;
    height: 100px;
}

.liens{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens a{
    margin: 0 30px 0 30px;
    font-size: 1.4em;
    text-decoration: none;
    color: #1d1e31;
    text-shadow: 0 0 5px #1d1e31;
}
/* SCROLL BAR */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* CORPS DE PAGE */
body{
    width: 1500px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #1d1e31;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}

html{
    background-color: white;
}

.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}

.btn1, .icone{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}

section h1{
    width: 600px;
    height: auto;
    margin: 100px;
    color: white;
    text-shadow: 0 0 5px white;
    font-size: 6em;
    animation: apparait 0.7s forwards;
    text-align: center;
    border-left: 2px solid white;
    border-right: 2px solid white;
    border-radius: 30px;
}

@keyframes apparait {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

section p{
    color: white;
    font-size: 1.4em;
}

section h2, h3{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #fec675;
    padding: 10px;
    font-size: 2em;
}

section p{
    margin: 40px;
    font-size: 1.4em;
    text-align: justify;
}

section img{
    width: 500px;
    height: 500px;
    margin: 10px;
}

section mark{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

section .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.depression .centre-responsive{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

section img{
    width: 300px;
    height: 300px;
    margin: 30px;
}
/* PARTIE RESPONSIVE */

/* FIN DE LA PARTIE RESPONSIVE */
/* FIN DE CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
.connexion a{
    font-weight: 800;
    font-size: 15px;
    text-decoration: underline;
    position: relative;
    left: 100px;
    color: black;
}
/* FIN PARTIE CONNEXION */

/* PARTIE NAVBAR */
