/* PARTIE HEADER ET LIENBAR */
header{
    width: 100%;
    height: 100px;
    background-color: #31489f;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.container{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.webp);
    background-repeat: no-repeat;
    background-size: cover; 
    position: absolute;
    overflow: hidden;
}

.pages{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 10%;
}

.pages button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.pages button:hover{
    top: 5px;
    background-color: transparent;
    box-shadow: none;
}

.pages button a{
    font-size: 20px;
    color: white;
}

nav{
    width: 100%;
    height: 100%;
    background-color: #31489f;
}
.liens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.suppression-responsive{
    position: relative;
    left: -100px;
}

.liens button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.liens button:hover{
    top: 5px;
    background-color: white;
    box-shadow: none;
}

.liens button a{
    text-decoration: none;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
body{
    width: 100%;
    height: auto;
    margin: 0;
    overflow-x: hidden;
}

mark{
    background-color: #31489f;
}

.btn1, .icone{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
}

h1, h2{
    margin: 0;
}

.nuages{
    width: 100%;
    height: 1800px;
    background-image: url(../img/fond1.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
}

.nuages h1{
    font-size: 3.0em;
}

.nuages .titre{
    position: relative;
    top: 200px;
    left: 200px;
    color: #31489f;
}

.nuages .centre-responsive{
    width: 500px;
    height: 500px;
    position: relative;
    top: 900px;
    left: 1000px;
}

.centre-responsive .centre{
    width: 100%;
    height: 100%;
}

.nuages .texte{
    width: 600px;
    height: 700px;
    margin-left: 150px;
    margin-top: 300px;
}

.nuages .texte h2, p, li{
    font-size: 1.6em;
}

.mecanisme{
    width: 100%;
    height: 950px;
    background-image: url(../img/fond2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.mecanisme .centre-responsive{
    width: 500px;
    height: 500px;
    position: absolute;
    right: 100px;
    top: 2200px;
}

.centre-responsive img{
    width: 100%;
    height: 100%;
}

.mecanisme .texte{
    height: 700px;
    margin-left: 150px;
    margin-right: 150px;
    position: relative;
    top: 400px;
    text-align: justify;
}

.formation h2{
    text-align: center;
}

.formation{
    width: 100%;
    height: auto;
    background-image: url(../img/fond1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.formation .centre-responsive{
    width: 500px;
    height: 500px;
}

.formation .centre-responsive img{
    width: 500px;
    height: 500px;
}

.centre-responsive .left1{
    position: absolute;
    right: 100px;
    top: 3300px;
}

.formation .titre{
    font-size: 1.6em;
    position: relative;
    top: 200px;
}

.formation .texte{
    width: 600px;
    height: auto;
    text-align: justify;
    position: relative;
    bottom: 200px;
    left: 200px;
}

.titre1{
    font-size: 1.6em;
    position: relative;
    top: 200px;
}

.centre-responsive .right{
    position: absolute;
    left: 100px;
    top: 4800px;
}

.formation .texte1{
    width: 600px;
    height: auto;
    text-align: justify;
    position: relative;
    bottom: 200px;
    left: 1000px;
}

.formation .titre2{
    font-size: 1.6em;
}

.formation .centre-responsive .left{
    position: relative;
    top: 200px;
    left: 100px;
    top: 200px;
}

.formation .texte2{
    width: 600px;
    height: auto;
    position: relative;
    bottom: 300px;
    left: 900px;
}

.types{
    width: 100%;
    height: auto;
    background-image: url(../img/fond2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.types .left{
    width: 500px;
    height: 500px;
}


/* FIN DE CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
.connexion a{
    font-weight: 800;
    font-size: 15px;
    text-decoration: underline;
}
/* FIN PARTIE CONNEXION */