body{
    margin: 0;
    padding: 0;
    background-color: #1d1e31;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* SCROLL BAR */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.scroll-bar{
    width: 100%;
    height: 8px;
    background-color: #ccc;
}

.progressbar{
    height: 8px;
    background-color: #fec675;
    width: 0%;
}
/* FIN SCROOL BAR */

/* PARTIE HEADER ET LIENBAR */
nav{
    width: 100%;
    height: 100%;
    background-color: #1d1e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: 50px;
}

.liens{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* SECTION 1 */
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.presentation img{
    width: 800px;
    height: 800px;
    margin: 20px 10px 100px 10px;
    border-radius: 50%;
}

.presentation h1{
    color: white;
    font-size: 6em;
    font-weight: 600;
    text-shadow: 0 0 10px white;
}

.presentation p{
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    text-align: justify;
}

.presentation .texte{
    width: 800px;
    height: auto;
    margin-right: 100px;
}

.infos, .cv{
    width: 200px;
    height: 50px;
    font-size: 1.4em;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0 0 10px #fec675;
}

.infos:hover, .cv:hover{
    box-shadow: 0 0 15px #fec675;
}

.texteplus{
    display: none;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    text-align: justify;
}

.tex{
    color: black;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}

@keyframes slide{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

/* SECTION 2 */
.cols1, .cols2, .cols3, .cols4, .cols5, .cols6{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1400px;
    height: auto;
    border-radius: 10px;
    margin: 500px auto;
    background-color: #353448;
    animation: slide 1s forwards;
    padding: 20px;
}

.cols1:hover, .cols2:hover, .cols3:hover, .cols4:hover, .cols5:hover, .cols6:hover{
    box-shadow: 0 0 100px #fec675;
}

.centre p{
    font-size: 2em;
    color: white;
    margin: 10px;
}

.centre img{
    width: 500px;
    height: 500px;
    margin: 20px;
}

.centre button{
    width: 500px;
    height: 100px;
    border-radius: 10px;
    background-color: #fec675;
    border: none;
    box-shadow: 0 0 10px #fec675;
    cursor: pointer;
    margin: 10px;
}