/* PARTIE HEADER ET LIENBAR */
header{
    width: 100%;
    height: 100px;
    background-color: #31489f;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.container{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.pages{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 10%;
}

.pages button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.pages button:hover{
    top: 5px;
    background-color: transparent;
    box-shadow: none;
}

.pages button a{
    font-size: 20px;
    color: white;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #31489f;
}
.liens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.suppression-responsive{
    position: relative;
    left: -100px;
}

.liens button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.liens button:hover{
    top: 5px;
    background-color: white;
    box-shadow: none;
}

.liens button a{
    text-decoration: none;
}
/* FIN PARTIE CORPS DE PAGE */

/* CORPS DE PAGE */
body{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.btn1, icone{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}

section h1{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31489f;
    font-size: 4em;
}

section mark{
    background-color: #31489f;
    color: white;
}

section h2 mark{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6em;
}

section p{
    margin: 10px;
    font-size: 1.4em;
}

section mark{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
}

section .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* PARTIE RESPONSIVE */
@media only screen and (max-width: 1140px){
    section p{
        font-size: 1.2em;
    }

    img{
        width: 350px;
        height: 350px;
    }
}

@media only screen and (max-width: 1060px){
    .container{
        display: none;
    }

    .pages{
        width: 100%;
        top: 0;
        left: 0;
    }
}

@media only screen and (max-width: 935px){
    img{
        width: 300px;
        height: 300px;
    }

    .suppression-responsive{
        display: none;
    }

    .pages button a{
        font-size: 1.0em;
    }
}

@media only screen and (max-width: 710px){
    section h1{
        font-size: 2.0em;
    }

    .pages button a{
        font-size: 0.8em;
    }

    .btn1{
        display: none;
    }
}

@media only screen and (max-width: 500px){
    body{
        width: auto;
        height: auto;
    }

    section .flex{
        display: block;
    }

    .centre-responsive{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .centre-responsive img{
        margin: 10px;
    }

    section h2 mark{
        text-align: center;
        font-size: 1.4em;
    }
}
/* FIN DE LA PARTIE RESPONSIVE */
/* FIN DE CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
.connexion{

}
/* FIN PARTIE CONNEXION */

/* PARTIE NAVBAR */
