body{
    width: 1600px;
    height: auto;
    margin: 0 auto;
    padding: 0;
    background-color: #1d1e31;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html{
    background-color: white;
}

/* SCROLL BAR */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

.scroll-bar{
    width: 100%;
    height: 8px;
    background-color: #ccc;
}

.progressbar{
    height: 8px;
    background-color: #fec675;
    width: 0;
}
/* FIN SCROOL BAR */

/* PARTIE HEADER ET LIENBAR */
nav{
    width: 100%;
    height: 100%;
    background-color: #1d1e31;
    display: flex;
    justify-content: center;
    align-items: center;
}

a{
    color: white;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: 50px;
}

.liens{
    width: 50%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    right: 0;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* SECTION 1 */
.presentation{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-bottom: 300px;
}

.presentation img{
    width: 800px;
    height: 800px;
    margin: 40px 40px 100px 40px;
    border-radius: 50%;
}

.presentation h1{
    color: white;
    font-size: 6em;
    font-weight: 600;
    text-shadow: 0 0 10px white;
}

.presentation p{
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    text-align: justify;
}

.presentation .texte{
    width: 800px;
    height: auto;
    margin-right: 100px;
    margin-left: 40px;
}

.infos, .cv{
    width: 200px;
    height: 50px;
    font-size: 1.4em;
    background-color: #fec675;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 50px;
    box-shadow: 0 0 10px #fec675;
}

.infos:hover, .cv:hover{
    box-shadow: 0 0 15px #fec675;
}

.texteplus{
    display: none;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    text-align: justify;
}

.tex{
    color: black;
    font-size: 1.1em;
    font-weight: normal;
    text-decoration: none;
    text-transform: none;
    margin: 0;
}

@keyframes slide{
    0%{
        transform: translateX(-1000px);
    }
    100%{
        transform: translateX(0);
    }
}

/* SECTION 2 */
.container {
    width: 700px;
    height: auto;
    margin: 100px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
}

.bloc {
    width: 100%;
    height: 75px;
    background-color: #fec675;
    box-shadow: 0 0 10px #fec675;
    margin: 10px 0;
    border-radius: 30px;
    text-align: center;
    overflow: hidden;
    transition: height 0.3s, opacity 0.3s;
    position: relative;
}

.bloc:hover {
    height: 250px;
}

.bloc img{
    width: 200px;
    height: 150px;
    margin: 10px;
    transition: top 0.3s;
}

.bloc h1{
    color: black;
    font-size: 1.4em;

}

.bloc p {
    font-size: 1.4em;
    margin: 10px;
    opacity: 0;
    text-align: justify;
}

.bloc:hover p {
    opacity: 1;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte .lien{
    width: 200px;
    height: 50px;
    margin: 10px;
    cursor: pointer;
    background-color: #1d1e31;
    box-shadow: 0 0 10px #1d1e31;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texte .lien a{
    font-size: 1em;
}