/* PARTIE HEADER ET LIENBAR */
header{
    width: 100%;
    height: 100px;
    background-color: #31489f;
    display: flex;
    position: relative;
    margin: 0;
    padding: 0;
}

.container{
    width: 100px;
    height: 100px;
    background-image: url(../img/logo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    overflow: hidden;
}

.pages{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    left: 10%;
}

.pages button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.pages button:hover{
    top: 5px;
    background-color: transparent;
    box-shadow: none;
}

.pages button a{
    font-size: 20px;
    color: white;
}

nav{
    width: 100%;
    height: 100%;
    background-color: #31489f;
}
.liens{
    display: flex;
    justify-content: center;
    align-items: center;
}

.suppression-responsive{
    position: relative;
    left: -100px;
}

.liens button{
    width: auto;
    height: 50px;
    border-radius: 20px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px black;
}

.liens button:hover{
    top: 5px;
    background-color: white;
    box-shadow: none;
}

.liens button a{
    text-decoration: none;
}

.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body h1{
    margin: 10px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #31489f;
    font-size: 4em;
}

body p{
    margin: 10px;
    text-align: center;
}

body, section, p, li, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p, li{
    font-size: 1.4em;
}

.ouragan{
    width: 100%;
    height: 1800px;
}

.ouragan img{
    width: 500px;
    height: 500px;
    margin: 10px 0 10px 10px;
}

.ouragan .flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ouragan .texte h2{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #31489f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 2.5em;
}

.ouragan .texte p{
    font-size: 1.4em;
    text-align: justify;
    margin: 10px;
}

.ouragan p{
    font-size: 1.4em;
}

.ouragan h2{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: #4a75ff;
    font-size: 1.6em;
    color: white;
    text-align: center;
}

.ouragan .centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tornade{
    width: 100%;
    height: 1500px;
    .texte h2{
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #31489f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .texte p{
        font-size: 1.4em;
        text-align: justify;
        margin: 10px;
    }
    .flex img{
        width: 500px;
        height: 500px;
        margin: 10px 10px 0 10px;

    }
    .texte li{
        font-size: 1.4em;
    }
    .ensemble{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.tempete{
    .texte h2{
        width: 100%;
        height: auto;
        padding: 10px;
        background-color: #31489f;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 2.5em;
    }
    .flex{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .flex img{
        width: 500px;
        height: 500px;
        margin: 10px;
    }
    .texte p{
        font-size: 1.4em;
        text-align: justify;
        margin: 10px;
    }
}
/* FIN DE CORPS DE PAGE */

/* PARTIE CONNEXION EN HAUT DE PAGE */
.connexion{
    position: absolute;
    top: 0;
    left: 100px;
}

.identifier{
    color: black;
    text-decoration: none;
}
/* FIN PARTIE CONNEXION */