/* PARTIE HEADER */
.pages{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages a{
    font-size: 1.4em;
    text-decoration: none;
    text-transform: uppercase;
    color: #1d1e31;
    text-shadow: 0 0 10px #1d1e31;
    margin-left: 50px;
    margin-right: 50px;
    letter-spacing: 2px;
}

.pages a:hover{
    animation: surligner 0.5s forwards;
}

@keyframes surligner{
    0%{
        text-decoration: none;
    }

    100%{
        text-decoration: underline;
    }
}

/* PARTIE LIENBAR */
nav{
    background-color: white;
    width: 100%;
    height: 100px;
}

.liens{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.liens a{
    margin: 0 20px 0 20px;
    font-size: 1.4em;
    text-shadow: 0 0 5px #1d1e31;
    color: #1d1e31;
    text-decoration: none;
}
/* SCROLL BAR */
.header{
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: #f1f1f1;
}

/* DEBUT SCROLLBAR */
.scroll{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fec675;
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
}

.scroll-bar{
    width: 100%;
    height: 8px;
    background-color: #ccc;
}

.progressbar{
    height: 8px;
    background-color: #fec675;
    width: 0%;
}
/* FIN SCROLLBAR */
/* FIN PARTIE HEADER ET LIENBAR */

/* CORPS DE PAGE */
body{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h2{
    text-align: center;
}

/* SECTION IMAGES */
.images{
    width: 60%;
    height: auto;
    margin: 20px;
    background-color: bisque;
}

img{
    width: 250px;
    height: 250px;
    margin: 10px 10px 20px 10px;
}

.flexbox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 10px solid black;
}


/* SECTION COMMENTAIRES */
.commentaires{
    width: 40%;
    height: auto;
    margin: 20px;
    background-color: bisque;
}

/* SECTION COMMENTAIRE */
.card{
    display: flex;
    flex-direction: column;
}

.card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px;
}

.premier, .deuxieme, .troisieme, .quatrieme{
    position: relative;
    width: 80%;
    padding: 15px;
    margin-left: 75px;
    margin-bottom: 50px;
    font-size: 1.2em;
    background-color: grey;
    border-radius: 10px;
}

